<p>
        Нумерология основана на числах и их значении. У каждого из нас есть своя дата рождения, а также фамилия и имя, что в совокупности дает цифровую информацию, другими словами код.
    У каждой буквы есть свое числовое обозначение, т.е. каждой букве соответствует определенная цифра. Поэтому в формировании кода участие принимают не только дата рождения, но и фамилия и имя человека. Таким образом, информацию необходимо извлекать не только из даты рождения, но и из ФИО (фамилия, имя, отчество) человека, которая помогает узнать о  человеке , так как в одну дату рождаются много других людей.
    Более того, нумерология — это отличный способ изучения поведения типов личности. Поэтому даже при подборе персонала нумерология может служить дополнительным, а самое главное полезным фильтром.
</p>
<p>
    Лично для меня нумерология позволяет определить наименее благоприятные периоды для вовлечения в финансовые вопросы, такие как оформление кредита, инвестирование в различные проекты и заем денег. Более того, нумерология может с бóльшей доли вероятности определить уязвимые места по состоянию здоровья, которые есть у каждого человека. Ну и самое главное понять и принять людей такими какие они есть, не пытаясь изменить их( родные, ребёнок, родственники, друзья)
</p>
<p>
    Очень много людей родились в один день и год. Но у всех разные родители, социальное положение, друзья, коллеги. И соответственно в зависимости от окружения формируется каждая личность и судьба у каждого другая.
</p>


