@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron, col-lg-11 table-bordered">
    Здравствуйте, меня зовут Жулдыз. Я сертифицированный Нумеролог. 
    <br>Спасибо за проявленный интерес к моей работе💐. 
    <br>Стоимость консультации на 1 человека 51000тг.
    Длительность 1,5- 2 часа.
    <br>Попав ко мне на консультацию Вы узнаете ⤵⤵⤵
    ⠀<br>
    <br>🚩ЛИЧНОСТНАЯ Консультация
    <br>1Предназначение ( с чем пришла ваша душа)
    <br>2Полный разбор ФИО( есть ли карма? Каким вас видят окружающие)
    <br>3Числа и цвета удачи
    <br>4Финансовые возможности, финкод удачи
    <br>5Здоровье ( на какой орган обратить внимание)
    <br>6Ваши сильные и слабые стороны
    <br>7Профессиональный вектор
    <br>8Получаете прогноз по Луне и Солнцу на 3 года.
    ⠀<br>
    <br>🚩ПРОГНОЗ
    <br>9Финансовый прогноз на текущий год (на 1 год)
    <br>10Календарь зачатии и свидании (на 1 год)
    <br>11Судьбоносные года ( замужество, женитьба и не только)
    <br>12Периоды спала и подъема- ➕и -➖года (на 3 года)
    <br>13Прогноз по Луне и Солнцу (на 3 года)
    <br>14Кармическое Прогнозирование
    <br>15 Прогноз 9 летнего цикла
    <br>16 Прогноз 7 летнего цикла
    <br>17Астропрогноз
    <br>18+ подарок 🎁- Событийный прогноз* на 1 месяц+ корректировка тех или иных событий вашей жизни на текущий месяц.
    ⠀<br>
    <br>🚩* Событийный прогноз - это более детальный и подробный прогноз по дням недели. Такой прогноз на 1 месяц стоит 12000. На 1 год 100000.
    <br>
    <br>🚩 Детская Консультация-  детям до 17 лет (включительно17лет) 21000 тг, длительность 1 час
    <br>1Полный разбор ФИО
    <br>2Узнаете сильные и слабые стороны вашего ребёнка
    <br>3Проф ориентации- в какой профессии он добился бы успеха
    <br>4Совместимость ребёнка с родителями
    <br>5Какой подход в воспитании требует ваш ребёнок
    <br>6Какой вид спорта подходит вашему ребёнку.
    <br>7 Здоровье
    ⠀<br>
    
</div>
<div class="col-lg-1">

</div>

