@{
    ViewBag.Title = "Главная";
}
<header>
    
</header>
<div class="jumbotron, col-lg-11 table-bordered">
    <p>
        Здравствуйте, меня зовут Жулдыз. Я сертифицированный Нумеролог.
        <br>Спасибо за проявленный интерес к моей работе💐.
        <br>Стоимость консультации на 1 человека 51000тг.
        Длительность 1,5- 2 часа.
        
    </p> 
    
    
</div>
<div class="col-lg-1">

</div>

