@{
    ViewBag.Title = "Главная";
}
<header></header>
<ul class="rslides">
    <li><img src="~/Content/Index2.jpg" alt="" /></li>
    <li><img src="~/Content/Index3.jpg" alt="" /></li>

</ul>


<style>
    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }

        .rslides li {
            position: absolute;
            display: none;
            width: 100%;
            left: 0;
            top: 0;
        }

            .rslides li:first-child {
                position: relative;
                display: block;
                float: left;
            }

        .rslides img {
            display: block;
            height: auto;
            float: left;
            width: 100%;
            border: 0;
        }
</style>
<script type="text/javascript">
        $(function () {
            $(".rslides").responsiveSlides(
                {
                    auto: true
                })
        });
</script>
