
    <div style="font-family:Arial; font-size:16px">
        🔺 Консультация с любой точки мира проходят онлайн по скайпу или по видеозвонку WhatsApp, встречи если Вы с г.Алматы.
        <br>🔺 Оплата на карту ИП или киви кошелёк(с учётом комиссии и конвертации) хотя бы за 2 дня вперёд до консультации.
        <div class="spoiler-wrap disabled">
            <div class="spoiler-head">🔺 Полная консультация на 1 человека, длительность 1,5-2 часа.</div>
            <div class="spoiler-body">
                <p>
                    🚩 ЛИЧНОСТНАЯ Консультация
                    <br>1) Предназначение ( с чем пришла ваша душа)
                    <br>2) Полный разбор ФИО( есть ли карма? Каким вас видят окружающие)
                    <br>3) Числа и цвета удачи
                    <br>4) Финансовые возможности, финкод удачи
                    <br>5) Здоровье ( на какой орган обратить внимание)
                    <br>6) Ваши сильные и слабые стороны
                    <br>7) Профессиональный вектор
                    <br>8) Получаете прогноз по Луне и Солнцу на 3 года.
                </p>

                <p>
                    🚩 ПРОГНОЗ
                    <br>9) Финансовый прогноз на текущий год (на 1 год)
                    <br>10) Календарь зачатии и свидании (на 1 год)
                    <br>11) Судьбоносные года ( замужество, женитьба и не только)
                    <br>12) Периоды спала и подъема- ➕и -➖года (на 3 года)
                    <br>13) Прогноз по Луне и Солнцу (на 3 года)
                    <br>14) Кармическое Прогнозирование
                    <br>15) Прогноз 9 летнего цикла
                    <br>16) Прогноз 7 летнего цикла
                    <br>17) Астропрогноз
                    <br>18) + подарок 🎁- Событийный прогноз* на 1 месяц+ корректировка тех или иных событий вашей жизни на текущий месяц.
                </p>
                <p>🚩 *Событийный прогноз - это более детальный и подробный прогноз по дням недели.</p>
            </div>
        </div>
        <div class="spoiler-wrap disabled">
            <div class="spoiler-head">🔺 Только Личная Консультация, длительность 1час.</div>
            <div class="spoiler-body">
                <p>
                    🚩 ЛИЧНОСТНАЯ Консультация
                    <br>1) Предназначение ( с чем пришла ваша душа)
                    <br>2) Полный разбор ФИО( есть ли карма? Каким вас видят окружающие)
                    <br>3) Числа и цвета удачи
                    <br>4) Финансовые возможности, финкод удачи
                    <br>5) Здоровье ( на какой орган обратить внимание)
                    <br>6) Ваши сильные и слабые стороны
                    <br>7) Профессиональный вектор
                    <br>8) Получаете прогноз по Луне и Солнцу на 3 года.
                </p>
            </div>
        </div>
        <div class="spoiler-wrap disabled">
            <div class="spoiler-head">🔺 Только ПРОГНОЗ, длительность 1 час</div>
            <div class="spoiler-body">
                <p>
                    🚩 ПРОГНОЗ
                    <br>1) Финансовый прогноз на текущий год (на 1 год)
                    <br>2) Календарь зачатии и свидании (на 1 год)
                    <br>3) Судьбоносные года ( замужество, женитьба и не только)
                    <br>4) Периоды спала и подъема- ➕и -➖года (на 3 года)
                    <br>5) Прогноз по Луне и Солнцу (на 3 года)
                    <br>6) Кармическое Прогнозирование
                    <br>7) Прогноз 9 летнего цикла
                    <br>8) Прогноз 7 летнего цикла
                    <br>9) Астропрогноз
                    <br>10) + подарок 🎁- Событийный прогноз* на 1 месяц+ корректировка тех или иных событий вашей жизни на текущий месяц.
                </p>
                <p>🚩 *Событийный прогноз - это более детальный и подробный прогноз по дням недели.</p>
            </div>
        </div>
        <div class="spoiler-wrap disabled">
            <div class="spoiler-head">🔺 Детская Нумерология - , длительность 1 час</div>
            <div class="spoiler-body">
                <p>
                    🚩  Детская Консультация - детям до 17 лет (включительно 17 лет) длительность 1 час
                    <br>1) Полный разбор ФИО
                    <br>2) Узнаете сильные и слабые стороны вашего ребёнка
                    <br>3) Проф ориентации- в какой профессии он добился бы успеха
                    <br>4) Совместимость ребёнка с родителями
                    <br>5) Какой подход в воспитании требует ваш ребёнок
                    <br>6) Какой вид спорта подходит вашему ребёнку.
                    <br>7) Здоровье
                </p>
                <p>
                    🚩 Так же вы можете приобрести отдельно Финансовый Прогноз и Календарь Личности - прогноз на год по месяцам

                    <br>8) Финансовый прогноз на текущий год (на 1 год)
                    <br>9) Календарь зачатии и свидании (на 1 год)
                    <br>Для более подробной информации можете перейти по <a href="https://www.instagram.com/p/Bpzc4kngy1crJhM3XUIssAZGXN8WkhHsn9bclw0/?utm_source=ig_share_sheet&igshid=13wku86xkbo82">ссылке</a>.
                </p>
            </div>
        </div>
        <div class="spoiler-wrap disabled">
            <div class="spoiler-head">🔺 Совместимость</div>
            <div class="spoiler-body">
                <p>
                    🚩 Совместимость, длительность 1 час
                    <br>💕 Какие особенности друг друга необходимо учитывать при построении отношений
                    <br>💕 Как преодолеть разногласия и укрепить отношения
                    <br>💕 Как общаться, чтобы понимать друг друга
                    <br>💕 Каков Ваш «язык любви» и вашего партнера😏
                    <br>💕 Возможные кризисы в отношениях и как их избежать
                    <br>💕 Отношения к деньгам в паре
                    <br>💕 Чем каждый партнёр делиться⠀ подпитывает другого.
                </p>
            </div>
        </div>
    </div>
<style>
    .spoiler-wrap{background:#fff;margin: 0 0 8px;border:1px solid #efefef}
.spoiler-head{background:#efefef;cursor:pointer;padding:5px;}
.spoiler-body{padding:10px}
.spoiler-wrap.disabled .spoiler-body{display:none}
.spoiler-wrap.active{border-color:#57AA43}
.spoiler-wrap.active .spoiler-head{background:#57AA43;color:#fff}
</style>
<script>
    $(function () {
        $('.spoiler-body').hide(300);
        $(document).on('click', '.spoiler-head', function (e) {
            e.preventDefault()
            $(this).parents('.spoiler-wrap').toggleClass("active").find('.spoiler-body').slideToggle();
        })
    })
</script>