
<div>
    <br>🔺Полная консультация на 1 человека стоит 51000 тг (1-15пункт), длительность 1,5-2 часа.
    <br>🔺Только ПРОГНОЗ (9- 15 пункт) стоит 33000 тг, длительность 1 час
    <br>🔺Только Личная Консультация ( 1-8пункт) стоит 33000тг, длительность 1час.
    <br>🔺Детская Нумерология- 21000 тг, длительность 1 час.
    <br>🔺Совместимость 33000 тг
    <br>🔺Консультация с любой точки мира проходят онлайн по скайпу или по видеозвонку WhatsApp, встречи если Вы с г.Алматы.
    <br>🔺Оплата на карту ИП или киви кошелёк(с учётом комиссии и конвертации) хотя бы за 2 дня вперёд до консультации.
    <br>🔷 Более подробно скину смотря какой пункт выберите
</div>
