
<div>

    <br>🔺Полная консультация на 1 человека стоит 51000 тг (1-15пункт), длительность 1,5-2 часа.
    <br>🔺Только ПРОГНОЗ (9- 15 пункт) стоит 33000 тг, длительность 1 час
    <br>🔺Только Личная Консультация ( 1-8пункт) стоит 33000тг, длительность 1час.
    <br>🔺Детская Нумерология- 21000 тг, длительность 1 час.
    <br>🔺Совместимость 33000 тг
    <br>🔺Консультация с любой точки мира проходят онлайн по скайпу или по видеозвонку WhatsApp, встречи если Вы с г.Алматы.
    <br>🔺Оплата на карту ИП или киви кошелёк(с учётом комиссии и конвертации) хотя бы за 2 дня вперёд до консультации.
    <br>🔷 Более подробно скину смотря какой пункт выберите
    <br>Попав ко мне на консультацию Вы узнаете ⤵⤵⤵
    ⠀<p>
        🚩ЛИЧНОСТНАЯ Консультация
        <br>1) Предназначение ( с чем пришла ваша душа)
        <br>2) Полный разбор ФИО( есть ли карма? Каким вас видят окружающие)
        <br>3) Числа и цвета удачи
        <br>4) Финансовые возможности, финкод удачи
        <br>5) Здоровье ( на какой орган обратить внимание)
        <br>6) Ваши сильные и слабые стороны
        <br>7) Профессиональный вектор
        <br>8) Получаете прогноз по Луне и Солнцу на 3 года.
    </p>

    <p>
        🚩ПРОГНОЗ
        <br>9) Финансовый прогноз на текущий год (на 1 год)
        <br>10) Календарь зачатии и свидании (на 1 год)
        <br>11) Судьбоносные года ( замужество, женитьба и не только)
        <br>12) Периоды спала и подъема- ➕и -➖года (на 3 года)
        <br>13) Прогноз по Луне и Солнцу (на 3 года)
        <br>14) Кармическое Прогнозирование
        <br>15) Прогноз 9 летнего цикла
        <br>16) Прогноз 7 летнего цикла
        <br>17) Астропрогноз
        <br>18) + подарок 🎁- Событийный прогноз* на 1 месяц+ корректировка тех или иных событий вашей жизни на текущий месяц.
    </p>

    <p>🚩* Событийный прогноз - это более детальный и подробный прогноз по дням недели. Такой прогноз на 1 месяц стоит 12000. На 1 год 100000.</p>
    <p>
        🚩 Детская Консультация-  детям до 17 лет (включительно17лет) 21000 тг, длительность 1 час
        <br>1) Полный разбор ФИО
        <br>2) Узнаете сильные и слабые стороны вашего ребёнка
        <br>3) Проф ориентации- в какой профессии он добился бы успеха
        <br>4) Совместимость ребёнка с родителями
        <br>5) Какой подход в воспитании требует ваш ребёнок
        <br>6) Какой вид спорта подходит вашему ребёнку.
        <br>7) Здоровье
    </p>
</div>
