
<h1>Отзывы</h1>
<div class="gallery">
    <a class="example-image-link" href="~/Content/Review/Rew1.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/Rew1.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/Rew2.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/Rew2.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/Rew3.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/Rew3.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/2.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/2.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/3.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/3.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/4.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/4.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/5.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/5.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/6.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/6.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/7.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/7.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/8.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/8.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/9.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/9.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/10.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/10.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/11.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/11.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/12.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/12.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/13.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/13.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/14.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/14.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/15.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/15.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/16.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/16.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/17.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/17.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/18.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/18.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/19.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/19.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/20.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/20.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/21.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/21.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/22.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/22.png" alt="" /></a>
    <a class="example-image-link" href="~/Content/Review/23.png" data-lightbox="example-set"><img class="example-image" src="~/Content/Review/23.png" alt="" /></a>
    </div>
@*<h3>A Four Image Set</h3>
<div>
    
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
</div>*@