@{
    ViewBag.Title = "Home Page";
}

    <h1>Матрица пифагора</h1>
    <table>
        <tr>
            <td>Фио клиента</td>
            <td colspan="2">@ViewData["FIO"]</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
    
    <p>Введите свое имя: </p>
    @Html.TextBox("Person", "Введите имя")
    <p>Введите адрес :</p>
    @Html.TextBox("Address", "Введите адрес")
    <p><input type="submit" value="Отправить" /></p>
