@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div>
        <input id="Comb" type="text" placeholder="Введите для поиска"/>
        <ul>
            <li>
                <a href="#">Привет</a>
            </li>
            <li>
                <a href="#">Пока</a>
            </li>
            <li>
                <a href="#">До свидание</a>
            </li>
        </ul>
    </div>
</form>

<script>
    $("#Comb").keyup(function () {
        var text = $("#Comb").val();
        alert("you print" + text);
    })
</script>